<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yashnil</title>
    <link rel="stylesheet" href="{{ url_for('static', filename="css/main.scss.css") }}">
</head>
<body>
    <main>
        <nav>{% include '_public/navigation.html' %}</nav>
        <div class="main_container">
            {% block content %}{% endblock content %}
        </div>
        <footer>{% include '_public/footer.html' %}</footer>
    </main>
    {% block scripts %}{% endblock scripts %}
</body>
</html>